{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="page-header cfx">
<!-- container start -->
<div class="container">
<h1 class="title">Courses</h1>
</div><!-- container // -->
</header> <!-- .page-header //  -->

<!-- wrap content -->
		<section class="wrap wrap-content">

			<!-- container start -->
			<div class="container">

<main class="blok">
<header class="blok-heading">
<h3 class="blok-title"> list of courses </h3> 
</header>
<div class="row">
					<div class="col-sm-4 col-xs-6">
						<figure  class="servis-item">
							<div class="img-wrap">
								<a href="">
									<img src="{% static 'photos/history.jpg' %}" alt="Something">	
									<span class="item-hover">Details</span>
								</a>
							</div><!-- img-wrap// -->
							<figcaption class="info">
								<h4 class="title"><a href="#">History</a></h4>		
								<p class="small">Teacher: Albert Einstein - professor of this time </p>
							</figcaption>
						</figure>
					</div><!-- //col -->
					<div class="col-sm-4 col-xs-6">
						<figure  class="servis-item">
							<div class="img-wrap">
								<a href="">
									<img src="{% static 'photos/math.jpg' %}" alt="Something">	
									<span class="item-hover">Details</span>
								</a>
							</div><!-- img-wrap// -->
							<figcaption class="info">
								<h4 class="title"><a href="#">Mathematics</a></h4>		
								<p class="small">Teacher: Albert Einstein - professor of this time </p>
							</figcaption>
						</figure>
					</div><!-- //col -->
					<div class="col-sm-4 col-xs-6">
						<figure  class="servis-item">
							<div class="img-wrap">
								<a href="">
									<img src="{% static 'photos/physics.jpg' %}" alt="Something">	
									<span class="item-hover">Details</span>
								</a>
							</div><!-- img-wrap// -->
							<figcaption class="info">
								<h4 class="title"><a href="#">Physics</a></h4>		
								<p class="small">Teacher: Albert Einstein - professor of this time </p>
							</figcaption>
						</figure>
					</div><!-- //col -->
					<div class="col-sm-4 col-xs-6">
						<figure  class="servis-item">
							<div class="img-wrap">
								<a href="">
									<img src="{% static 'photos/chemistry.jpg' %}" alt="Something">	
									<span class="item-hover">Details</span>
								</a>
							</div><!-- img-wrap// -->
							<figcaption class="info">
								<h4 class="title"><a href="#">Chemistry</a></h4>		
								<p class="small">Teacher: Albert Einstein - professor of this time </p>
							</figcaption>
						</figure>
					</div><!-- //col -->
					<div class="col-sm-4 col-xs-6">
						<figure  class="servis-item">
							<div class="img-wrap">
								<a href="">
									<img src="{% static 'photos/biology.jpg' %}" alt="Something">	
									<span class="item-hover">Details</span>
								</a>
							</div><!-- img-wrap// -->
							<figcaption class="info">
								<h4 class="title"><a href="#">Biology</a></h4>		
								<p class="small">Teacher: Albert Einstein - professor of this time </p>
							</figcaption>
						</figure>
					</div><!-- //col -->
					<div class="col-sm-4 col-xs-6">
						<figure  class="servis-item">
							<div class="img-wrap">
								<a href="">
									<img src="{% static 'photos/literature.jpg' %}" alt="Something">	
									<span class="item-hover">Details</span>
								</a>
							</div><!-- img-wrap// -->
							<figcaption class="info">
								<h4 class="title"><a href="#">Literature</a></h4>		
								<p class="small">Teacher: Albert Einstein - professor of this time </p>
							</figcaption>
						</figure>
					</div><!-- //col -->
					<div class="col-sm-4 col-xs-6">
						<figure  class="servis-item">
							<div class="img-wrap">
								<a href="">
									<img src="{% static 'photos/english.jpg' %}" alt="Something">	
									<span class="item-hover">Details</span>
								</a>
							</div><!-- img-wrap// -->
							<figcaption class="info">
								<h4 class="title"><a href="#">English and IELTS</a></h4>		
								<p class="small">Teacher: Albert Einstein - professor of this time </p>
							</figcaption>
						</figure>
					</div><!-- //col -->
					<div class="col-sm-4 col-xs-6">
						<figure  class="servis-item">
							<div class="img-wrap">
								<a href="">
									<img src="{% static 'photos/russian.jpg' %}" alt="Something">	
									<span class="item-hover">Details</span>
								</a>
							</div><!-- img-wrap// -->
							<figcaption class="info">
								<h4 class="title"><a href="#">Russian</a></h4>		
								<p class="small">Teacher: Albert Einstein - professor of this time </p>
							</figcaption>
						</figure>
					</div><!-- //col -->
				</div> <!-- //row -->
</main><!-- .blok // -->
</div> <!-- container // -->
</section> <!-- wrap content //  -->
{% endblock content %}