{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="page-header cfx">
<!-- container start -->
<div class="container">
<h1 class="title">Teachers</h1>
</div><!-- container // -->
</header> <!-- .page-header //  -->

		<!-- wrap content -->
		<section class="wrap wrap-content">

			<!-- container start -->
			<div class="container">

				<div class="row">
					<!-- col -->
					<div class="col-sm-9">
						<main class="blok">
							<header class="blok-heading">
								<h3 class="blok-title"> Co workers and teachers </h3> 
							</header>

<ul class="row list-img-lg clearfix">
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man1.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Falonchaev pistoncha</a></h4>
								<p>Ajoyib va samimiy inson falon falon ishlarga qodir</p>
							</li>
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man2.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Pistonchaev Surnemae</a></h4>
								<p>Professor and doctor of best science of world</p>
							</li>
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man3.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Myname Surnemae</a></h4>
								<p>Professor and doctor of best science of world</p>
							</li>
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man1.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Myname Surnemae</a></h4>
								<p>Professor and doctor of best science of world</p>
							</li>
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man2.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Myname Surnemae</a></h4>
								<p>Professor and doctor of best science of world</p>
							</li>
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man3.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Falonchaev Faloncha</a></h4>
								<p>Iqtisod fanlari nomzodi professor	</p>
							</li>	
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man3.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Falonchaev Faloncha</a></h4>
								<p>Iqtisod fanlari nomzodi professor	</p>
							</li>
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man1.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Falonchaev Falonchamullo asdasd</a></h4>
								Iqtisod fanlari nomzodi professor
							</li>
							<li class="col-md-6 col-sm-12"> <a href="#"> <div class="img-wrap"> <img src="{% static 'photos/man2.jpg' %}"></div> </a>
								<h4 class="title"><a href="#">Falonchaev Faloncha</a></h4>
								<p>Iqtisod fanlari nomzodi professor	</p>
							</li>
						</ul>

						</main><!-- blok // -->
					</div><!-- col // -->
					<div class="col-sm-3">
						<aside class="blok blok-category">
							<header class="blok-heading">
								<h3 class="blok-title"> Some title </h3> 
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a href="" class="btn btn-default">My button</a>
						</aside> <!-- blok // -->
					</div> <!-- col// -->
				</div> <!-- row// -->

			</div> <!-- container // -->
		</section> <!-- wrap content //  -->

{% endblock content %}